pipeline/bulkload.json
{
	"name": "bulkload",
	"properties": {
		"activities": [
			{
				"name": "lookupfile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "lookupfile",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "iterartion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookupfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookupfile').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlPoolSink",
									"allowCopyCommand": true
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "foreachload",
									"type": "DatasetReference",
									"parameters": {
										"blobname": {
											"value": "@item().blob",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sqlload",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-09-03T09:36:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}