pipeline/History_Load.json
{
	"name": "History_Load",
	"properties": {
		"activities": [
			{
				"name": "tablelookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select table_name as tablename from stg.history_load_status where status is null or status= 'failed';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticssplookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "recursive_load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "tablelookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sqlsecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('tablelookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "sparkload",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "History_Load",
									"type": "NotebookReference"
								},
								"parameters": {
									"tabname": {
										"value": {
											"value": "@item().tablename",
											"type": "Expression"
										},
										"type": "string"
									},
									"password": {
										"value": {
											"value": "@activity('sqlsecret').output.value",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true
							}
						},
						{
							"name": "load_success",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "sparkload",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "azsqldw",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[hist_load_success]",
								"storedProcedureParameters": {
									"load_start_time": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tablename": {
										"value": {
											"value": "@item().tablename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "load_failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "sparkload",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[hist_load_failure]",
								"storedProcedureParameters": {
									"load_start_time": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tablename": {
										"value": {
											"value": "@item().tablename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseAnalytics1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "sqlsecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://cse-az-vault.vault.azure.net/secrets/password/a6540ea0e3c04286adb6868bcd8fe684?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-09-18T07:10:22Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}